.register {
  height: calc(100vh - 50px);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}

.registerTitle {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: 'Lora', serif;
  font-weight: 500;
  font-style: italic;
  color: #1a1717cb;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  border: none;
  color: white;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding: 12px 12px 8px 12px;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding: 12px 12px 8px 12px;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
}
