.setting {
  display: flex;
}

.settingWrapper {
  flex: 9;
  padding: 20px;
}

.settingTitle {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingUpdateTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: lightcoral;
}

.settingDeleteTitle {
  font-family: 'Roboto', sans-serif;
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingForm {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

.settingPP {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.settingPP > img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}

.settingPPIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: lightcoral;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.settingForm > label {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.settingForm > Input {
  color: grey;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightgrey;
}

.settingSubmit {
  font-family: 'Roboto', sans-serif;
  width: 150px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: teal;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}
