.posts {
  display: flex;
  flex: 9;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

@media only screen and (min-width: 1200px) {
  .posts {
    flex: 9;
    margin-right: 10px;
    width: 75%;
  }
}
