.header {
  margin-top: 60px;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
  font-weight: 500;
  font-style: normal;
}

.headerTitleSm {
  position: absolute;
  top: 16%;
  font-size: 20px;
  color: #1a1717cb;
}

.headerTitleLg {
  position: absolute;
  top: 20%;
  font-size: 80px;
  color: #1a1717cb;
}

.headerImg {
  width: 100%;
  height: 450px;
  margin-top: 80px;
  object-fit: cover;
}
