.contact {
  height: calc(0100vh - 50px);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url('https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  background-size: cover;
}

.contactTitle {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: 'Lora', serif;
  font-weight: 500;
  font-style: italic;
  color: #1a1717cb;
}

.contactForm {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.contactForm > label {
  margin: 10px 0;
}

.visitorName {
  padding: 10px;
  background-color: white;
  border: none;
}

.visitorEmail {
  padding: 10px;
  background-color: white;
  border: none;
}

.visitorInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.contactButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding: 12px 12px 8px 12px;
  margin-top: 20px;
  background-color: teal;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
}

.backHomeButton {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  padding: 12px 12px 8px 12px;
  margin-top: 20px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 10px;
}

/* .contactImgContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
} */
